/* stock_styles.css */

/*main に display: flex; をつけたら、
中にある「**直下の子要素（nav や sectionなど）」**が横並びになる*/

.search {
    justify-content: flex-end; /* ← これを追加/修正 */ 
    display: flex; /*要素の横並び*/
    gap: 1rem; /*要素間の間隔*/
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    max-width: 1000px; /* 好みのサイズに調整可能 */
}

nav ul {
    list-style: none;
    padding: 0;
}
.table-smaller {
    margin-left: 1rem;
    margin-right: 1rem;    
}

.table-smaller th,.table-smaller td {
  padding: 0.75rem;
  border-bottom: 1px solid #d1d5db;
  text-align: left;
}

