

.localNavigation {
    background-color: #1c2a39; /* ダークネイビー */
    padding-top: 2rem;
    border-radius: 10px;
    width: 15%;
}

.localNavigation ul {
    list-style: none;
}

.localNavigation .nav-item {
    margin-bottom: 1.5rem;
    text-align: center;
}

.localNavigation .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
}

.localNavigation .nav-link:hover {
    background-color: #2e3b4e;
    border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-color: #eee;
    overflow-x: auto; /* 横はみ出し対策 */
    padding: 1rem;
    box-sizing: border-box;
    padding-right: 2rem;
}




/*main に display: flex; をつけたら、
中にある「**直下の子要素（nav や sectionなど）」**が横並びになる*/
main {
    display: flex;    
    min-height: 100vh;
    margin: 10px 0 10px 0;
    padding: 1rem;
}



