.editer{/*画面切り替え右寄せ　クラス名は適当*/
    display: flex;
    justify-content: flex-end;
}

td{
    position:relative;
}
td span{
    background: #fff;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
}
td span i{
    color: #999;
}