main {
  max-width: 1300px;
  margin: 3.5rem auto;
}

.gray-box{
    margin: 0 auto 2em;
    padding: 2em;
}

.form-label {
    font-weight: bold;
}

.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* モーダル内の確認表示を整えるためのスタイル */
.modal-body strong {
    display: inline-block;
    width: 100px; /* ラベルの幅を固定 */
}